<div class="gametime">
  <div class="top-nav-buttons">
    <div class="row">
      <div class="col-xs-1">
        <a href="#/game/stats" onclick="return confirm('Are you sure you want to end the game?');">
          <img src="/app/images/stop.png" alt="Stop" />
        </a>
      </div>
      <div class="col-xs-1 col-xs-push-8">
        <img src="/app/images/play-pause.png" alt="Play Pause Game" />
      </div>
      <div class="col-xs-2 col-xs-push-8">
        <a href="#/game/summary" class="btn btn-default btn-lg pull-right">Sub ({{totalSubs}})</a>
      </div>
    </div>
  </div>
  <h2>Players on the Field</h2>
  <div class="players">
    <ul class="player-list">
      <li ng-repeat="player in activePlayers">
        {{player.Name}}
        <span class="player-position">({{player.CurrentPosition}})</span>
        <span class="glyphicon glyphicon-retweet" ng-if="player.NeedsSub"></span>
        <a href="#/fielded-player-picker/{{player.Id}}" class="btn btn-primary pull-right">Swap</a>
        <a href="#/bench-picker/{{player.Id}}" class="btn btn-primary pull-right">Sub</a>
      </li>
    </ul>
  </div>
  <h2>Players on the Bench</h2>
  <div class="players">
    <ul class="player-list">
      <li ng-repeat="player in benchedPlayers">
        {{player.Name}}
        <a href="#/fielded-player-picker/{{player.Id}}" class="btn btn-primary pull-right">Sub</a>
        <span class="glyphicon glyphicon-retweet pull-right" ng-show="player.NeedsSub"></span>
      </li>
    </ul>
  </div>
</div>
